<header>
    <app-munu-bar></app-munu-bar>
</header>
<app-munu-title></app-munu-title>
<div class="articles">
    <div class="articles__main">

        <app-big-card 
            cardTitle="Nova versão do Angular">
        </app-big-card>

    </div>
    <div class="article__others">

        <app-small-card
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/800px-Python-logo-notext.svg.png"
            cardTitle="Novo biblioteca python">
        </app-small-card>

        <app-small-card 
            photoCover="https://picperf.io/https://laravelnews.s3.amazonaws.com/images/laravel-featured.png"
            cardTitle="Atualização do Laravel">
        </app-small-card>

        <app-small-card
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Scala-full-color.svg/1200px-Scala-full-color.svg.png"
            cardTitle="Scala! Novo marco da computação">
        </app-small-card>

    </div>
</div>