.articles{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}
.articles__main{
    box-sizing: border-box;
    width: 50%;
    margin: 0 10px;

}

.article__others{
    box-sizing: border-box;
    width: 50%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
